<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alimaplibrary">

    <application>
        <activity android:name=".MainActivity"></activity>
        <!-- 高德地图设置key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="45cd010013cb5a068d7822e5b536fc0c" /> <!-- 开机广播 -->
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name="com.amap.api.maps.offlinemap.OfflineMapActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>